<h1>ようこそ<strong>Bookers</strong>へ！</h1>
<p class="space-left"><strong>Bookers</strong>では、あなたの書籍に関する意見や</p>
<p class="space-left">印象を共有し交換することができます</p>
<p class="space-left"><a href="/books">start</a></p>
